extends ../base.pug

block content
  h1 Add a new driver
  form(action=`/drivers/${driver.id}?_method=PATCH`, method="POST")
    p
      input(type="text", name="name", value=driver.name)
    p
      input(type="number", name="age", value=driver.age)
    p
      button Edit a new driver
