extends ../base.pug

block content
  h1 Add a new driver
  form(action="/drivers" method="POST")
    p
      input(type="text", name="name")
    p
      input(type="number", name="age")
    p
      button Add a new driver
